<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link CSS do Bootstrap: -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>DelaJob - Entrar</title>
</head>
<body>

    <!-- Card cadastro: -->
    <div class="mt-5" style="padding-bottom:110px;">

        <div class="text-center">
            <h1 style="color: rgb(148, 84, 180);">Login</h1>
        </div>

        <div class="card" style="margin: 0 auto; width: 18rem;">
            <div class="card-body" style="background-color: rgb(227, 229, 231);">
                <form>
                    <div class="form-group">
                        <label for="E-mail" class="lead">E-mail:</label><br>
                        <input type="email" name="E-mail" id="E-mail" class="form-control" aria-describedby="emailHelp" required>
                    </div>
                    <div class="form-group">
                        <label for="Senha" class="lead">Senha:</label><br>
                        <input type="password" name="Senha" id="Senha" class="form-control" required>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn text-light w-50" style="background-color: rgb(148, 84, 180); font-size: 25px; border-radius: 10px;">Entrar</button>
                        <a class="text-muted card-link" href="#"><p class="mt-2 lead" style="font-size: 14px;">Esqueceu a senha?</p></a>
                        <a class="card-link" style="color: rgb(148, 84, 180);" href="#"><h2 class="lead">Cadastre-se</h2></a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Links JavaScript do Bootstrap: -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
