<html>
<head>
    <title>Vagas - DelaJob</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link CSS do Bootstrap: -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>

    <div class="mt-5">

        <div class="text-center">
            <h1 style="color: rgb(148, 84, 180);">Vagas</h1>
        </div>
    </div>


    <!-- Texto e imagem (Quem Somos): -->

    <div class="container marketing">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-6">
                <div class="text-center">
                    <h2 style="font-size: 30px; font-weight: 600; font-family: sans-serif; color: slategray; line-height: 50px;">Tecnologia</h2>
                </div>
                <img src="~/Images/tecnologia.png" href="#" style="display: block; margin: 0px auto -100px auto;">
                <div class="text-center" style="margin-top: 180px;">
                    <button type="link" href="#" class="btn text-light w-50" style="background-color: rgb(148, 84, 180); font-size: 25px; border-radius: 10px; margin-top: -110px;">Saiba Mais</button>

                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <h2 style="font-size: 30px; font-weight: 600; font-family: sans-serif; color: slategray; line-height: 50px;">Comércio</h2>
                </div>
                <img src="~/Images/comercio.png" href="#" style="display: block; margin: 0px auto -100px auto;">
                <div class="text-center" style="margin-top: 180px;">
                    <button type="link" href="#" class="btn text-light w-50" style="background-color: rgb(148, 84, 180); font-size: 25px; border-radius: 10px; margin-top: -110px;">Saiba Mais</button>

                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <h2 style="font-size: 30px; font-weight: 600; font-family: sans-serif; color: slategray; line-height: 50px;">Indústria</h2>
                </div>
                <img src="~/Images/Industria.png" href="#" style="display: block; margin: 0px auto -100px auto;">
                <div class="text-center" style="margin-top: 180px;">
                    <button type="link" href="#" class="btn text-light w-50" style="background-color: rgb(148, 84, 180); font-size: 25px; border-radius: 10px; margin-top: -110px;">Saiba Mais</button>

                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <h2 style="font-size: 30px; font-weight: 600; font-family: sans-serif; color: slategray; line-height: 50px;">Educação</h2>
                </div>
                <img src="~/Images/educacao.png" href="#" style="display: block; margin: 0px auto -100px auto;">
                <div class="text-center" style="margin-top: 180px;">
                    <button type="link" href="#" class="btn text-light w-50" style="background-color: rgb(148, 84, 180); font-size: 25px; border-radius: 10px; margin-top: -110px;">Saiba Mais</button>

                </div>
            </div>
        </div>

        <hr class="featurette-divider">
    </div>

    <div class="container-fluid">

        <div class="b-example-divider"></div>


    </div>

    <hr class="featurette-divider">

    <div class="class container-fluid" style="background-image: src(../../wwwroot/Images/mulheres-juntas.png); height: 400px; background-size: cover; ">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center" style="margin-top: 180px;">
                    <a type="button" asp-area="" asp-controller="Contato" asp-action="Contato" class="btn text-light w-25" style="background-color: rgb(148, 84, 180); font-size: 25px; border-radius: 10px;">Contato</a>

                </div>
            </div>
        </div>

    </div>

    <!-- Links JavaScript do Bootstrap: -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
