<html>
<head>
    <title>DelaJob - Sobre</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link CSS do Bootstrap: -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>

    <div class="mt-5">

        <div class="text-center">
            <h1 style="color: rgb(148, 84, 180);">Sobre</h1>
        </div>
    </div>


    <!-- Texto e imagem (Quem Somos): -->

    <div class="container marketing">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="display-3" style="color: rgb(148, 84, 180);">O que fazemos</h1><br>
                <p class="lead">
                    <b>
                        DelaJob é uma organização sem fins lucrativos, cujo principal propósito é melhorar a situação de vulnerabilidade socioecômica de mulheres de baixa renda, através da valorização profissional e empregabilidade.

                        Por meio de programas de capacitação de mão de obra feminina, o DelaJob promove o empoderamento feminino e geração de renda.
                    </b>
                </p>
                <br>
                <p class="lead">
                    <b>
                        O projeto social foi fundado em 2022, através de um desafio proposto pela Recode Pro, tal iniciativa nasceu a partir de um grupo de 4 pessoas que se uniram para de sair de suas bolhas sociais e ver o mundo com outra perspectiva. Desse modo, criando uma rede de fortalecimento e pertencimento focada em mulheres em desemprego.

                        Temos como missão defender e garantir os direitos de mulheres de baixa renda, em situação de vulnerabilidade, visando minimizar as injustiças social, cujo o principal objetivo e quebrar as barreiras de isolamento e não pertencimento de mulheres no mundo do trabalho.
                    </b>
                </p>
            </div>
            <div class="col-md-5">
                <img src="~/Images/reuniao-img.jpg" style="padding-top: 50px; max-width: 450px;">

            </div>
        </div>

        <hr class="featurette-divider">
    </div>

    <div class="container-fluid">

        <div class="b-example-divider"></div>


    </div>

    <hr class="featurette-divider">

    <div class="class container-fluid bg" style="height: 400px; background-size: cover; background-image:src(../../wwwroot/Images/mulheres-juntas.png);">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center" style="margin-top: 180px;">
                    <button type="link" href="#" class="btn text-light w-25" style="background-color: rgb(148, 84, 180); font-size: 25px; border-radius: 10px;">Ver Vagas</button>

                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="mt-5">

            <div class="text-center">
                <h2 style="color: rgb(71, 71, 71);">Nossos Valores</h2>
            </div>
        </div>

        <!-- 3 colunas -->
        <div class="row">

            <div class="col-md-4" style="text-align: center; padding: 50px 0 50px 0;">
                <img class="bd-placeholder-img rounded-circle" src="~/Images/valorizar-img.png" width="280" height="280" aria-label="Placeholder: 140x140">

                <h2 style="font-size: 24px; margin-top: -150px; margin-bottom: 150px; color: white;">Valorizar Pessoas</h2>

            </div><!-- /.col-lg-4 -->
            <div class="col-md-4" style="text-align: center; padding: 50px 0 50px 0;">
                <img class="bd-placeholder-img rounded-circle" src="~/Images/ponte-img.png" width="280" height="280" aria-label="Placeholder: 140x140">

                <h2 style="font-size: 24px; margin-top: -150px; margin-bottom: 150px; color: white;">Construir Pontes</h2>

            </div><!-- /.col-lg-4 -->
            <div class="col-md-4" style="text-align: center; padding: 50px 0 50px 0;">
                <img class="bd-placeholder-img rounded-circle" src="~/Images/oportunidades-img.png" width="280" height="280" aria-label="Placeholder: 140x140">

                <h2 style="font-size: 24px; margin-top: -150px; margin-bottom: 150px; color: white;">Geração de Oportidades</h2>

            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>

    <!-- Links JavaScript do Bootstrap: -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
